$blackPearl: #070926;
$blackRussian: #04001E;
$deluge: #866CAC;
$rose: #FF005F;
$white: #FFFFFF;

$fwThin: 100;
$fwExtraLight: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
$fwBlack: 900;
