@import './patterns';

* {
    font-family: 'Montserrat', sans-serif;
    color: $white;
}

.main-container {
    min-height: 100vh;
    padding: 60px 15px 30px;
    background-color: $blackRussian;
    box-sizing: border-box;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .main-container {
        padding: 120px 15px 45px;
    }
}

@import './components/forms/SelectInput';
@import './components/typography/Heading1';
@import './components/typography/Heading5';
@import './components/typography/Paragraph';
@import './components/Menu';
@import './components/ResultItem';
@import './components/ResultModal';
@import './components/ResultsContainer';
@import './components/ResultsList';
@import './components/RoomsContainer';
@import './components/StepItem';
@import './components/StepsNavigation';
@import './components/StylesContainer';
