@import './patterns';

* {
    font-family: 'Montserrat', sans-serif;
    color: $white;
}

.main-container {
    min-height: 100vh;
    padding: 60px 15px 30px;
    background-color: $blackRussian;
    box-sizing: border-box;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .main-container {
        padding: 120px 15px 45px;
    }
}

@import './components/Forms/SelectInput';
@import './components/Typography/Heading1';
@import './components/Typography/Heading5';
@import './components/Typography/Paragraph';
@import './components/Menu/Menu';
@import './components/Results/ResultItem';
@import './components/Results/ResultModal';
@import './components/Results/ResultsContainer';
@import './components/Results/ResultsList';
@import './components/Rooms/RoomsContainer';
@import './components/Steps/StepItem';
@import './components/Steps/StepsNavigation';
@import './components/Styles/StylesContainer';
