@use '../patterns';

.main-menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: patterns.$blackPearl;
    box-shadow: 0 -2px 15px 0 rgba(0,0,0,0.3);
    z-index: 15;

    .menu-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 72px;

        &.active {
            .item-title {
                color: patterns.$rose;
                font-weight: patterns.$fwSemiBold;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .item-icon {
        max-width: 25px;
        max-height: 25px;
    }

    .item-title {
        font-size: 12px;
        line-height: 15px;
        color: patterns.$white;
        margin: 2px 0 0;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .main-menu-container {
        top: 0;
        bottom: auto;

        .menu-list {
            justify-content: flex-start;
            max-width: 1200px;
            margin: 0 auto;
        }

        .menu-item {
            flex-direction: row;
            margin: 0 30px 0 0;
        }

        .item-icon {
            margin: 0 5px 0 0;
        }
    }
}
