@import '../patterns';

.result-item-container {
    width: calc(50% - 8px);
    margin: 0 0 15px;

    .result-image-wrapper {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        overflow: hidden;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .result-item-container {
        width: calc((100% / 3) - 12px);
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .result-item-container {
        width: calc(20% - 12px);
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
