@import '../../patterns';

p {
    text-align: left;
    color: $white;
    margin: 0 auto 15px;

    &.small {
        font-size: 12px;
        line-height: 15px;
    }

    &.medium {
        font-size: 18px;
        line-height: 22px;
    }
}
